{% extends "task_manager/base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h1 class="mb-4">Вход</h1>

    <form method="post">
      {% csrf_token %}

      <div class="mb-3">
        <label for="id_username" class="form-label">Имя пользователя</label>
        <input
          type="text"
          name="username"
          class="form-control"
          id="id_username"
          placeholder="Имя пользователя"
          required
          autofocus
        >
      </div>

      <div class="mb-3">
        <label for="id_password" class="form-label">Пароль</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="id_password"
          placeholder="Пароль"
          required
        >
      </div>

      <button type="submit" class="btn btn-primary w-100">
        Войти
      </button>
    </form>
  </div>
</div>
{% endblock %}
